@model HastaneProjesi.Models.Doctor
@{
    ViewData["Title"] = "DoctorGet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Doctor Add Page</h2>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Doctor Name: </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DoctorName" />
                    <span asp-validation-for="DoctorName" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Doctor Type: </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DoctorType" />
                    <span asp-validation-for="DoctorType" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Doctor Description: </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DoctorDescription" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Doctor Email: </label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DoctorEmail" />
                    <span asp-validation-for="DoctorEmail" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Clinic ID: </label>
                <div class="col-sm-8">
                    <select class="dropdown-item-text" asp-for="ClinicID" asp-items="@(List<SelectListItem>)(ViewBag.v1)"> </select>
                    <span asp-validation-for="ClinicID" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4" col-sm-8>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
