@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link href="~/Login_v6/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="row">
    <div class="col">
        <h1 class="text-danger text-center"><i class="fa-solid fa-ban"></i></h1>
        <p class="text-center">You do not have access to this page.</p>
        <div class="text-center">
            <<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Go to Home Page!</a>
        </div>
        
    </div>
</div>